body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
  }

  body, html {
    margin: 0;
    padding: 0;
  }
  

@keyframes fadeInUp {
  to {
      opacity: 1; /* End at full opacity */
      transform: translateY(0); /* End at the original position */
  }
}

h3{
  font-family: Recoleta, serif;
  color: #555555;
}


 h3 {
  font-family: "Josefin Sans";
}

.role {
  padding: 40px 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.box {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  grid-template-rows: 1.5fr 2fr;
  grid-template-areas: 
  "form info"
  "form maps";
  grid-gap: 5px; /* Increase gap between sections */
  margin: 20px auto;
  padding: 20px;
  max-width: 1000px; /* Max width for the box */
  box-sizing: border-box;
}

.form {
  grid-area: form;
  margin: 0 auto;
}

.maps {
  grid-area: maps;
}

.contacte {
  padding: 20px;
  background: white;
}

/* Form Styling */
.contacte.form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.formBox {
  position: relative;
  width: 100%;
}

.formBox .row50 {
  display: flex;
  gap: 30px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formBox .row100 .inputBox {
  width: 100%;
}

.inputBox span {
  color: #333333;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.formBox .row50 .inputBox input,
.formBox .row100 .inputBox textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.formBox .row100 .inputBox textarea {
  height: 150px;
  resize: none;
  margin-bottom: 10px;
}

.inputBox input[type="submit"] {
  background-color: #111111;
  color: #fff;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 120px;
  font-weight: 500;
}

.inputBox input[type="submit"]:hover {
  background-color: #555;
}

.inputBox ::placeholder {
  color: #999;
}

/* Contact Info Styling */
.info {
  grid-area: info;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 62%;
  margin: 0 auto;
}

/* Map Section */
.maps {
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

.maps iframe {
  width: 100%;
  height: 100%;
}

.contacte.info a {
  text-decoration: none;
  color: #333; /* ou une autre couleur selon ton design */
}

.contacte.info a:hover {
  color: #555; /* Couleur au survol si désiré */
}

/* Media Queries for Responsiveness */

/* For small devices like phones (up to 768px) */
@media only screen and (max-width: 768px) {

  .box {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      grid-template-areas:
          "form"
          "info"
          "maps";
      margin: 20px 20px;
      padding-right: 20px;
      max-width: 100%; /* Full width for smaller screens */
  }

  .formBox .row50 {
      flex-direction: column;
  }
}

/* For tablets (up to 1024px) */
@media only screen and (max-width: 1024px) {

  .box {
      grid-template-columns: auto auto auto;
      grid-template-rows: 1fr;
      grid-template-areas:
          "form"
          "info"
          "maps";
      margin: 20px 40px;
      padding-right: 40px;
  }

  .formBox .row50 {
      flex-direction: row;
  }
  .info{
      width: 114%;
  }
  .maps{
      width: 114%;
  }
  .contacte.form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 114%;
    max-width: 1000px;
    margin: 0 auto;
  }
 
}
/* Media Queries for Mobile and Tablet */
@media (max-width: 1024px) {
  /* Section 1: Adjust image and text positioning */
}

@media (max-width: 768px) {
  /* Section 1: Adjust image and text positioning */
}

@media (max-width: 480px) {
  /* Section 1: Adjust image and text positioning */
}

.nousjoindre {
  position: relative;
  background: url('./image/contactus/kid-phone-min.jpg') center/cover no-repeat;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body 
.nousjoindre_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.nousjoindre_text {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
}

.nousjoindre_text h2 {
  font-size: 2rem;
  letter-spacing: 1px;
  color: #fff;
}
